
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>aspLayout</title>
    <style>
        .wrapp {
            width: 90%;
            height: auto;
            background-color: rgb(230, 224, 175);
            margin-left: 5%;
            border-radius: 5px;
            padding-top: 10px;
        }

        ul {
            display: inline-block;
            list-style-type: none;
            margin-top: 60px;
            margin-left: 400px;
        }

            ul li {
                float: left;
                margin-left: 20px;
            }

                ul li a {
                    font-family: Arial;
                    text-decoration: none;
                    font-size: 25px;
                    text-align: center;
                    justify-content: center;
                    align-items: center;
                    margin-left: 10px;
                    color: black;
                }

                    ul li a:hover {
                        color: green;
                        opacity: 0.8;
                        text-decoration: none;
                    }

        .nav {
            display: inline-block;
        }
    </style>
</head>
<body>
    <div class="wrapp">
        <div class="nav">

            <ul>
                <li><a href="">Trang chủ</a></li>
                <li><a href="">Câu lạc bộ</a></li>
                <li><a href="">HLV</a></li>
                <li><a href="">Cầu thủ</a></li>
            </ul>
        </div>
    </div>
</body>
</html>
